.tomatoes-button {
	display: inline-block;
	*display: inline;
	padding: 0;
	margin-bottom: 0;
	*margin-left: .3em;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #eee;
	*background-color: #e6e6e6;
	background-repeat: repeat-x;
	border: 1px solid #cccccc;
	*border: 0;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
	border-bottom-color: #d5d5d5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.tomatoes-button:hover,
.tomatoes-button:focus,
.tomatoes-button:active,
.tomatoes-button.active,
.tomatoes-button.disabled,
.tomatoes-button[disabled] {
	color: #333333;
	background-color: #e6e6e6;
	*background-color: #d9d9d9;
}
.tomatoes-button > span {
	display: inline-block;
	padding: 4px 12px;
	font-weight: bold;
}
.tomatoes-button .purchase {
	border-right: 1px solid #D5D5D5;
}
.price {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-radius: 0 3px 3px 0;
}
.price > span {
    font-weight: normal;
	color: #aaa;
}
.tomatoes-description {
    display: block;
	font-size: 11px;
	color: #aaa;
}